# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Code::Blocks Output Directories
bin/*
obj/*
proj/bin/Debug/dargon
proj/dargon.depend
proj/dargon.layout
proj/bin/Debug/dargon

# Builds
build/*

# Dargon-specifics
dargon.log
